---
layout: default
menu:
  - dishType: Shredded pancake
    menu_item:
      - name: sweet
        toppings:
          - caramelised banana
          - seasonal fruit compote
          - coconut yoghurt
          - homemade granola crunch
          - tahini or peanut butter
        price: $20
      - name: savoury
        toppings:
          - sundried tomato
          - feta
          - spinach
          - pesto
          - pinenuts
        price: $20
  - dishType: Porridge
    menu_item:
      - name: sweet
        toppings:
          - rice flakes  & millet
          - fresh fruit compote
          - coconut yoghurt
          - homemade granola
          - tahini
        price: $20
      - name: savoury
        toppings:
          - rice flakes & millet
          - crispy tofu
          - toasted seeds
          - pickled carrots
          - seasonal veg
        price: $20
---

<section class="menu">
        <div class="bgolive padded-b-0 menu menu-cap margin-b-0 grid-center">
        <div class="col-12 center">
            <h2 class="text-lg"> menu </h2>
        </div>
        <!-- First column  -->
        <div class="col-10 padded-2">
                {% for item in page.menu %}
                <h3 class="menu-heading"> {{item.dishType}} </h3>
                <div class="grid">
                  {% for dish in item.menu_item %}
                    <div class="col-10">
                        <h3 class="menu-heading"> {{dish.name}} </h3>
                    <p> {{dish.description}} </p>
                    <ul> {% for toppings in dish.toppings %} 
                        <li> {{toppings}} </li>
                        {% endfor %}</ul>
                </div>
                <div class="col-2">
                    <span class="price"> {{dish.price}} </span>
                </div>
                {% endfor %}
                </div>
                {% endfor %} 
                </ul>  
        </div>

        <!-- Second column  -->
        <div class="col-10 padded-2">
            {% for item in page.porridge %}
            <div class="grid">
                <div class="col-10">
            <h3 class="menu-heading"> {{item.name}} </h3>
            <p> {{item.description}} </p>
            <ul> {% for toppings in item.toppings %}
                <li> {{toppings}} </li>
                {% endfor %} </ul>
            </div>
            <div class="col-2">
                <span class="price"> {{item.price}} </span>
            </div>
            </div>
            {% endfor %} 
            </ul> 
            </div>
            
            
        <div class="col-10_sm-12 padded-2 center">
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, illum, eius excepturi, consectetur vitae molestias voluptates eos deserunt similique maxime minus. Minus, iure? Quia animi vero nisi dolorum odio veniam!</p>
        </div>
      </div>    
      </section>


        <!-- jQuery  -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

      <script src="/main.js"></script>
